    {{ define "index"}}

    {{ template "header"}}
    
    <main role="main" class="inner cover">
        <h1 class="cover-heading">Главная страница</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo temporibus neque quis aliquid aliquam dolor blanditiis ipsum quaerat dolore facilis non soluta, impedit vel? Nobis doloribus rerum tempore. In, et?</p>
    
    <p class="lead"></p>
          <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
      </main>

      {{ template "footer"}}

{{ end }}
